{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [".prettierrc", ".lintstagedrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
